{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{% static 'images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs">
          <span class="mr-2">
            <a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a>
          </span>
          <span>About us <i class="ion-ios-arrow-forward"></i></span>
        </p>
        <h1 class="mb-3 bread">About Us</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
           style="background-image: url('{% static 'images/about.jpg' %}');">
      </div>
      <div class="col-md-6 wrap-about ftco-animate">
        <div class="heading-section heading-section-white pl-md-5">
          <span class="subheading">About us</span>
          <h2 class="mb-4">Welcome to Our Online Shop</h2>
          <p>We provide the best quality products at affordable prices. Customer satisfaction is our top priority.</p>
          <p><a href="{% url 'cars' %}" class="btn btn-primary py-3 px-4">Explore Cars</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Testimonial</span>
        <h2 class="mb-3">Happy Customers</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          {% for i in "12345" %}
          <div class="item">
            <div class="testimony-wrap rounded text-center py-4 pb-5">
              <div class="user-img mb-2" style="background-image: url('{% static 'images/person_'|add:i|add:'.jpg' %}');"></div>
              <div class="text pt-4">
                <p class="mb-4">Amazing product quality and great customer service.</p>
                <p class="name">Customer {{ i }}</p>
                <span class="position">Verified Buyer</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-counter ftco-section img" id="section-counter"
         style="background-image: url('{% static 'images/bg_3.jpg' %}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="5">0</strong>
            <span>Years <br>Experience</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="500">0</strong>
            <span>Cars <br>Available</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="2500">0</strong>
            <span>Happy <br>Customers</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text d-flex align-items-center">
            <strong class="number" data-number="10">0</strong>
            <span>Team <br>Members</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
